.wrapper {
    width: 65%;
    float:left;

}

.element-wrapper {
    height: 350px;
    width: 30%;
    float: left;
    margin: 10px;
    padding: 10px;

}

.element-picture {
    position: relative;
}
.element-picture img {
    height: 200px;
}

.element-title {
    height: 80px;
}

.element-price {
    width: 50px;
    height: 30px;
    position: absolute;
    top:0;
    text-align: center;
    background-color: #ac2925;
    color:white;
}

#map {
    height: 700px;
    width: 35%;
    float:right;
}

