.wrapper {
    width: 80%;
    margin: auto;
}

.user-picture {
    width: 250px;

    height: 250px;
}

.user-personal {
    width: 250px;
    float: left;

}

.user-picture img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.user-details {
    float: left;
    margin-left: 120px;
}

.apartment-image {
    width: 200px;
    height: 200px;
}

.apartment-image img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.user-details {
    width: 60%;
}

.user-name h4, .user-apartments h4, .user-picture h4 {
    background-color: #edefed;;
    color: darkslategray;
    height: 30px;
    vertical-align: middle;
    padding:5px;
    margin: 0!important;
}
.user-name, .user-apartments {
    border: 1px solid #dce0e0;
}

.review-person-image {
    width: 150px;
    height: 150px;
    float:left;
}

.review-person-image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.review-person-detail {
    float: left;
    margin-left: 50px;
    width: 500px;
}

.review-wrapper {
    float: left;
    margin-bottom: 50px;
}